{% extends 'base.html' %} {% block content %} {% for post in object_list %}
<div class="post-entry">
  <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
  <p>By: {{ post.author }}</p>
  <p>{{ post.body }}</p>
  <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
  <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
  <p><a href="{% url 'comment_new' %}">+ Add Comment</a></p>
  <div>
    {% for comment in post.comments.all %}
    <p>
      <span> {{ comment.author }} &middot; </span>
      {{ comment }}
    </p>
    {% endfor %}
  </div>
</div>
<hr />
{% endfor %} {% endblock %}
